@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;

}

body {
    background-color: #F3F0E8;
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

li, a {
    /* font-family: 'Courgette', cursive, Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 14px;
    text-decoration: none;
}


a:link, a:visited {
    color: #806930;
}

a:hover {
    background: #f0e8d2;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: sticky;
    top: 0px;
    font-family: 'Courgette', cursive;
    font-size: 14px;
    min-height: 1%;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 0.5rem rgb(83 78 76 / 50%);
    /* border: 2px solid red; */
    background-color: #F3F0E8;
    z-index: 100;
}

nav {
    /* border: 1px solid red; */
    /* padding-top: 10px; */
    padding-bottom: 0;
}

.nav_links {
    list-style: none;
    margin: 0;
    /* border: 2px solid black; */
}

.nav_links li {

    display: inline-block;
    margin: 10px;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.logo {
    cursor: pointer;
}

.contacto {
    /* border: 2px solid black; */
    margin-right: 30px;
}

.boton {
    color: white;
    margin: 10px;
    padding: 10px 10px;
    background-color: rgb(190, 72, 53);
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.boton:hover {
    background-color: rgb(144, 39, 23);
}

/* .header-menubar {
    display: flex;
    margin-right: 50%;
    margin-left: 5%;
    justify-content: space-between;
    align-items: center;
} */

main {
    min-height: 10px;
    color: #806930;
    font-family: 'Great Vibes', cursive;
    font-size: 22px;
    background-color: #F3F0E8;
}

.header-menubar {
    padding: 0;
    display: flex;
    margin-left: 5%;
    margin-right: 50%;
    justify-content: space-evenly;
    align-items: center;

}


.container {
    display: grid;
    column-gap: 40px;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    /* border: 2px solid green; */
    background-color: #F3F0E8;
}

/* INICIO SECCIÓN TURISMO ENOLÓGICO */


.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #B06AB3;
    padding-top: 20px;
}

.warnings {
    font-family: Montserrat, sans-serif;
    font-size: small;
    color: red;
    font-weight: bolder;
}

.contenedor-turismo {
    /* border: 2px solid green; */
    min-height: 100px;
    width: 90%;
    margin: 0% 5%;
    padding: 0;
    display: flex;
    overflow: auto;
    position: relative;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.contenedor-turismo::before {
    content: '';
    background-image: url(../img/pexels-jill-wellington-39351.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.25;
    display: flex;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-flow: row wrap;
    /* border: 2px solid blue; */
    width: 50%;
    min-height: 100px;
    /* margin: 10px; */
    gap: 0px;
    padding: 10px;
    position: relative;
    background-color: transparent;
    flex: 50%;
}

.column-form {
    font-family: Montserrat, sans-serif;
    /* border: 2px solid red; */
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding: 20px;
}

.titulo-form {
    text-align: center;
    font-family: 'Courgette', sans-serif;
}

.row-form {
    font-size: medium;
    font-family: 'Courgette', sans-serif;
    width: 100%;
    padding: 10px;

}

.form-label {
    text-align: left;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(190, 72, 53) !important;

}

.column2 {
    padding: 10px;
    width: 50%;
    text-align: justify;
    font-family: 'Courgette', sans-serif;
    font-size: medium;
    flex: 50%;
    /* border: 2px solid blueviolet; */
}

.tur-imagen {
    border-radius: 10px;
    width: 100%;
}

.titulo-turismo {
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
}

@media (max-width: 1100px) {
    .column {
        flex: 100%;
    }
}

@media (max-width: 670px) {
    .column2 {
        flex: 100%;
    }
}

.boton-enviar {
    text-align: center;
}

/* FIN SECCIÓN TURISMO ENOLÓGICO */

.item-item1 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item-item2 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item-item3 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: space-evenly;
    align-content: end;
    min-height: 50px;
    /* border: 2px solid black; */
    background-color: #F3F0E8;
}


/* INICIO SECCION VINOS */

.contenedor {
    background-color: F3F0E8;

    color: #806930;

}

.contenedor nav {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    background-color: white;
}

.compra {
    display: none;
}

.carrito li {
    padding: 1rem;
    font-weight: lighter;
    font-size: 1rem;


}

.contenedor nav i {
    font-size: 2rem;
    cursor: pointer;
}


.contenedor nav i:hover .compra {
    font-size: 1rem;
    display: flex;
    justify-content: center;

}

.contenedor nav i:hover .compra button {
    padding: 1rem;
    width: 30%;
    color: white;
    font-family: Geneva;
    font-weight: bold;
    background-color: #F3F0E8;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 1, 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.contenedor nav i:hover .compra button:hover {
    background-color: rgb(190, 72, 53);
    transition: all .4s;
}


.carrito i:hover {
    width: 300px;
    height: 250px;
    position: absolute;
    right: 0;
    background-color: white;

}

.contenedor h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: 'Courgette', cursive, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;

}

.grid {
    display: grid;
    max-width: 1100px;
    justify-items: center;

    margin: auto;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 270px)
}

.item {
    text-align: center;
    line-height: 15px;

    background-color: white;
    border: none
}

.item img {
    width: 70%;
    margin-left: 20px;

}

.info {
    padding: 20px;


}

.info h3 {
    font-size: 1.6rem;
}

.info p {
    font-size: 1, 8rem;
    padding: 15px;
}

.descrip {
    display: none;

}

i:hover .descrip {
    width: 300px;
    height: auto;
    position: absolute;
    background-color: rgb(190, 72, 53);
    text-align: center;
    font-size: 1rem;
    display: flex;
    justify-content: center;

}

.descrip p {
    font-family: 'Courgette', cursive;
    font-weight: 100;

}

i {
    cursor: pointer;
    color: #F3F0E8;
}

.info span {
    padding: 15px;
    font-size: 1.5rem;
    display: flow-root
}

.info button {
    padding: 15px;
    width: 100%;
    background-color: #806930;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 1, 1rem;
    font-family: sans-serif;
    font-weight: lighter;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 15px;
}

.info button:hover {
    background-color: rgb(190, 72, 53);
    transition: all .3s;
}

/* FIN DE SECCION VINOS */
/* INICIO SECCION CONTACTO */

.contenedor-contacto {
    margin-right: 10%;
    margin-left: 10%;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #dad6cb;

}

.item-contacto1 {
    margin-right: 10%;
    border-color: #312812;
    border-style: solid;
    border-width: 1px;
}

.item-contacto2 {
    margin-right: 10%;
    vertical-align: middle;
    font-size: 24px;
    color: #312812;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* FIN DE SECCION CONTACTO */

/* INICIO SECCION HISTORIA */

.cajon-historia {
    /* width: 100%; */
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, 30%);
    grid-gap: 60px;
    align-content: center;
    justify-content: center;
    text-align: center;
    /* border: 1px solid red; */
}

.contenedor-historia {
    width: 100%;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    transition: transform .2s;
    position: relative;
    opacity: 0.5;
}

.contenedor-historia:hover {
    transform: scale(1.3);
    opacity: 1;
}

/* FIN DE SECCION HISTORIA */