* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #F3F0E8;
}

li, a, button {
    font-family: 'Courgette', cursive, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-decoration: none;
}


a:link, a:visited {
    color: #806930;
}

a:hover {
    background: #f0e8d2;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: sticky;
    top: 0px;
    font-family: 'Courgette', cursive;
    font-size: 14px;
    min-height: 50px;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 0.5rem rgb(83 78 76 / 50%);
}

.nav_links {
    list-style: none;

    /* border: 2px solid black; */
}

.nav_links li {
    display: inline-block;
    margin: 10px;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.logo {
    cursor: pointer;
}

.contacto {
    /* border: 2px solid black; */
    margin-right: 30px;
}

button {
    color: white;
    margin: 10px;
    padding: 10px 10px;
    background-color: rgb(190, 72, 53);
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(144, 39, 23);
}

.header-menubar {
    display: flex;
    margin-right: 50%;
    margin-left: 5%;
    justify-content: space-between;
    align-items: center;
}

main {
    min-height: 10px;
    color: #806930;
    font-family: 'Great Vibes', cursive;
    font-size: 22px;
}

.header-menubar {
    padding: 0;
    display: flex;
    margin-left: 5%;
    margin-right: 50%;
    justify-content: space-evenly;
    align-items: center;

}


.container {
    display: grid;
    column-gap: 40px;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid green;
}

/* INICIO SECCIÓN TURISMO ENOLÓGICO */

.contenedor-turismo {
    box-sizing: border-box;
    border: 2px solid green;
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;

}

.contenedor-grilla {
    box-sizing: border-box;
    border: 2px solid blue;
    width: 50%;
    min-width: 30%;
    min-height: 100vh;
    margin: 10px;
}

.contenedor-formulario {
    box-sizing: border-box;
    border: 2px solid orange;
    width: 50%;
    min-width: 30%;
    min-height: 100vh;
    margin: 10px;
}

/* FIN SECCIÓN TURISMO ENOLÓGICO */

.item-item1 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item-item2 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item-item3 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: space-evenly;
    align-content: end;
    min-height: 50px;
}